{% extends ":skill:_layout.html.twig" %}

{% block page_content %}

    <h1>New</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
