{% extends ":emergency:_layout.html.twig" %}

{% block page_content %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for emergency in emergencies %}
            <tr>
                <td>{% if emergency.created %}{{ emergency.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ emergency.description }}</td>
                <td>
                    <a class="btn btn-primary btn-xs"
                       href="{{ path('emergency_edit', { 'id': emergency.id }) }}">
                        <i class="fa fa-users"></i>
                        View Volunteers</a>
                    <a class="btn btn-success btn-xs"
                       href="{{ path('emergency_edit', { 'id': emergency.id }) }}">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
