{% extends ":volunteer:_layout.html.twig" %}

{% block page_content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for volunteer in volunteers %}
            <tr>
                <td>{% if volunteer.created %}{{ volunteer.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('volunteer_edit', { 'id': volunteer.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-success" href="{{ path('volunteer_new') }}">Add volunteer</a>

{% endblock %}
